{% extends '_base.twig' %}
{% block content %}
  {% set search = (data.filter == '' ? '' : '&search=' ~ data.filter) %}
  {% set order = (data.paginas.order == '' ? '' : '&order=' ~ data.order) %}
  {% set querystring = order ~ search%}
  <div class="content-wrapper">
    <div class="row">
      <div class="col-lg-12 grid-margin">
        <div class="card">
          <div class="card-body">
            <h1 class="card-title">Listado de Usuarios</h1>
            <div class="table-responsive">
              {#-----------------BÚSQUEDA-------------------#}
              <div class="d-flex flex-row-reverse">
                <div class='col-md-4'>
                  <form method='get' action='index/main?'>
                    {% if data.paginas.range %}
                      <input type='hidden' name='page' value={{data.paginas.range[0]}}>
                    {% endif %}
                    {% if data.paginas.order != '' %}
                      <input type='hidden' name='order' value={{data.paginas.order}}>
                    {% endif %}
                    {#<div class='form-group'>#}
                    {#  <div class='input-group'>#}
                    {#    <input type='text' class='form-control' placeholder='Buscar' name='search' value={{data.filter}}>#}
                    {#    <span class='input-group-append'>#}
                    {#      <button class='btn btn-info' type='submit'>#}
                    {#        <i class="fa fa-search"></i>#}
                    {#      </button>#}
                    {#    </span>#}
                    {#  </div>#}
                    {#</div>#}
                  </form>
                </div>
              </div>
              {#-------------TABLA DE CONTENIDO-------------#}
              <table class="table table-bordered" id='links-table'>
                <thead>
                  <tr>
                    <th>
                      <a href='#' data-search='{{search}}' data-value='categoria'>Categoria</a>
                    </th>
                    <th>
                      <a href='#' data-search='{{search}}' data-value='href'>href</a>
                    </th>
                    <th>
                      <a href='#' data-search='{{search}}' data-value='comentario'>Comentario</a>
                    </th>
                    {#<th>#}
                    {#  Editar#}
                    {#</th>#}
                    <th>
                      Eliminar
                    </th>
                  </tr>
                </thead>
                <tbody>
                  {% for item in data.links%}
                    <tr>
                      <td>
                        {{item.link.categoria}}
                      </td>
                      <td>
                        {{item.link.href}}
                      </td>
                      <td>
                        {{item.link.comentario}}
                      </td>
                        {#<td>#}
                        {#  <a href='edit/main?id={{item.id}}'>#}
                        {#    <button type='button' class='btn btn-inverse-info btn-rounded btn-sm'>#}
                        {#      <i class='mdi mdi-file-document'></i>#}
                        {#      Editar#}
                        {#    </button>#}
                        {#  </a>#}
                        {#</td>#}
                        <td>
                          <a href='#' data-action='ajax/deleteLink' data-id='{{item.link.id}}' class='borrar'>
                            <button type='button' class='btn btn-inverse-danger btn-rounded btn-sm'>
                              <i class='mdi mdi-alert-outline'></i>
                              Eliminar
                            </button>
                          </a>
                        </td>
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
              </div>
              {#-----------------PAGINACION---------------------#}
              <div class='pagination row ml-1 mt-3 mb-3'>
                {% if data.paginas.actual != 1%}
                  <div class='btn-group'>
                    {% if data.paginas.actual > 2%}
                      <a class='btn btn-primary' href='index/main?page={{data.paginas.primero ~ querystring}}' data-page='{{data.paginas.primero}}'>
                        <i class="fa fa-angle-double-left text-white"></i>
                      </a>
                    {% endif %}
                    <a class='btn btn-primary' href='index/main?page={{data.paginas.anterior ~ querystring}}' data-page='{{data.paginas.anterior}}'>
                      <i class="fa fa-angle-left text-white"></i>
                    </a>  
                  </div>
                {% endif %}
                <div class='btn-group ml-1'>
                  {% for item in data.paginas.range %}
                    <a href={{ '?page=' ~ item ~ querystring}} class='btn {{data.actual == item ? 'btn-light' : 'btn-primary'}}' data-page='{{item}}'>{{item}}</a>
                  {% endfor %}
                </div>
                {% if data.paginas.actual != data.paginas.ultimo %}
                <div class='btn-group ml-1'>
                  <a class='btn btn-primary' href='index/main?page={{data.paginas.siguiente ~ querystring}}' data-page='{{data.paginas.siguiente}}'>
                    <i class="fa fa-angle-right text-white"></i>
                  </a>
                  {% if data.actual != data.pages.ultimo - 1%}
                    <a class='btn btn-primary' href='index/main?page={{data.pages.ultimo ~ querystring}}' data-page='{{data.paginas.ultimo}}'>
                      <i class="fa fa-angle-double-right text-white"></i>
                    </a>
                  {% endif %}
                </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
{% endblock %}
        